.control {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $base-black;
}

.control__input {
  position: absolute;
  right: 1000000px;
}

.control__check-box {
  position: absolute;
  margin-left: -53px;
  margin-top: 0;
  min-width: 42px;
  min-height: 24px;
  border-radius: 12px;
  background-color: $base-white;
  cursor: pointer;
}

/*поведение focus and hover*/
.control__input:hover + .control__check-box,
.control__input:focus-visible + .control__check-box {
  background-image: url("../images/check-box-focus-hover.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

/*поведение disabled unchecked*/
.control__input:disabled + .control__check-box {
  background-image: url("../images/check-box-disabled-unchecked.svg");
}

/*поведение disabled checked*/
.control__input:disabled:checked + .control__check-box {
  background-image: url("../images/check-box-disabled-checked.svg");
}

.control__input:checked + .control__check-box {
  background-image: url("../images/check-box-checked.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.control__input + .control__check-box {
  background-image: url("../images/check-box-unchecked.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.control__radio {
  box-sizing: border-box;
  position: absolute;
  margin-left: -34px;
  width: 24px;
  min-height: 24px;
  background-color: $base-white;
  border-radius: 50%;
  border: 2px solid $base-grey;
  cursor: pointer;
}

/*поведение default checked*/
.control__input:checked + .control__radio {
  background-image: url("../images/radio-range-active-checked.svg");
}

/*поведение default unchecked*/
.control__input + .control__radio {
  background-image: url("../images/radio-range-default.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

/*поведение focus and hover*/
.control__input:hover + .control__radio,
.control__input:focus-visible + .control__radio {
  background-image: url("../images/radio-range-hover-focus.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

/*поведение disabled unchecked*/
.control__input:disabled + .control__radio {
  background-image: url("../images/radio-range-disabled-unchecked.svg");
}

/*поведение disabled checked*/
.control__input:disabled:checked + .control__radio {
  background-image: url("../images/radio-range-disabled-checked.svg");
}
