.footer {
  margin: 0 auto;
  min-width: 320px;
  background-color: $base-white;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}

.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding: 40px 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    align-items: start;
    margin-top: -5px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 12px;
    padding: 39px 40px;
  }
}

.footer__section-item {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  border-top: 1px solid$base-secondary;
  padding: 0 20px;
  flex-direction: column;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-top: 0;
    border-top: none;
    margin-bottom: 14px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.footer__section-item--logo-and-social {
  border-top: none;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 16px;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
    margin-top: 0;
    margin-bottom: 26px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    margin-bottom: 0;
  }
}

.footer__logo {
  margin-right: 38px;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 10px;
    margin-right: 0;
  }
}

.footer__logo-link {
  &:focus-visible {
    outline: none;
  }
}

.footer__logo-img {
  padding-top: 2px;

  @media (min-width: $tablet-width) {
    width: 170px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 1px;
  }
}

.footer__logo-text {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    margin-bottom: 40px;
    margin-top: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
}

.footer__item-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: $base-primary;
  margin-top: 20px;
  margin-bottom: 12px;
  padding-right: 120px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    padding-right: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 10px;
  }
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__list-item {
  &:not(:last-child) {
    margin-bottom: 4px;
  }
}

.footer__link {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-decoration: none;
  color: $base-black;
  padding: 8px 0;

  &:hover,
  &:focus-visible {
    color: $base-primary;
    outline: none;
  }

  &:active {
    color: $primary-darker;
  }
}

.footer__phone-link {
  &:hover,
  &:focus-visible {
    color: $base-primary;
    outline: none;
  }

  &:active {
    color: $primary-darker;
  }
}

.footer__address-text {
  margin-bottom: 16px;
}

.footer__section-item--copyright {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 4px;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
    padding-top: 2px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    margin-bottom: 0;
  }
}

.footer__link--copyright {
  display: flex;
  text-transform: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $base-grey;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }

  &:hover,
  &:focus-visible,
  &:focus {
    outline: none;
    color: $base-primary;
  }

  &:active {
    color: $primary-darker;
  }
}

.footer__copyright-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $base-grey;
}

.footer__copyright-icon {
  margin-left: 4px;
}
