.form {
  width: 280px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 728px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    width: 318px;
    margin-top: 20px;
    margin-right: 30px;
  }
}

.form__title {
  padding: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: $base-black;
}

.form__range-scale {
  border: none;
  margin: 0;
  padding: 0 0 24px;

  @media (min-width: $tablet-width) {
    width: 220px;
    margin-right: 21px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 30px;
  }
}

.form__group {
  border: none;
  margin: 0;
  padding: 0;
}

.form__group--tablet-availability {
  @media (min-width: $tablet-width) {
    width: 210px;
    margin-right: 39px;
  }
}

.form__group--tablet-country {
  @media (min-width: $tablet-width) {
    width: 198px;
  }
}

.form__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8px auto 0;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    width: 147px;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    margin: 15px auto 0;
  }
}

.form__submit {
  min-width: 160px;
  width: 160px;
  min-height: 45px;
  font-family: inherit;
  font-weight: 400;
  text-align: center;
  margin-bottom: 25px;
  font-size: 13px;
  line-height: 24px;
  color: $base-white;
  background-color: $base-primary;
  border-radius: 4px;
  border: none;

  &:hover,
  &:focus-visible {
    background-color: $primary-lighter;
    outline: none;
  }

  &:active {
    background-color: $primary-darker;
  }

  &:disabled {
    background-color: $base-grey;
  }

  @media (min-width: $tablet-width) {
    min-width: 148px;
    font-weight: 400;
    min-height: 40px;
    font-size: 14px;
    line-height: 24px;
    margin-right: 35px;
    margin-left: -52px;
    margin-top: 8px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    min-width: 150px;
    margin-left: 0;
    margin-top: -6px;
    min-height: 40px;
  }
}

.form__reset {
  width: 160px;
  min-height: 45px;
  font-family: inherit;
  font-weight: 400;
  text-align: center;
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 24px;
  color: $base-primary;
  background-color: $base-white;
  border-radius: 4px;
  border: none;

  &:hover,
  &:focus-visible {
    background-color: $primary-lighter;
    color: $base-white;
    outline: none;
  }

  &:active {
    background-color: $primary-darker;
    color: $base-white;
  }

  &:disabled {
    background-color: $lightest-grey;
    color: $base-white;
  }

  @media (min-width: $tablet-width) {
    min-width: 138px;
    font-weight: 400;
    min-height: 40px;
    font-size: 14px;
    line-height: 24px;
    margin-left: -3px;
    margin-top: 8px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    min-width: 150px;
    min-height: 40px;
    margin-left: -16px;
    margin-top: -6px;
  }
}

.form__item {
  margin-bottom: 21px;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.form__control-label {
  display: block;
  font-size: 16px;
  line-height: 24px;
}

.form__list {
  padding: 0;
  margin: 23px 0 24px 34px;

  @media (min-width: $tablet-width) {
    margin: 21px 0 24px 34px;
  }

  &--checkbox {
    margin: 20px 0 24px 55px;

    @media (min-width: $desktop-width) {
      margin: 20px 0 24px 52px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;
  }
}
