.slide {
  text-align: center;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 60px;
  box-sizing: border-box;
  min-height: 656px;

  @media (min-width: $tablet-width) {
    position: relative;
    padding: 57px 80px 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding: 176px 80px 242px 51%;
    text-align: left;
    align-items: start;
  }
}

.slide__wrapper {
  position: relative;
  max-width: 1440px;
}

.slide__image {
  width: 280px;
  padding: 0;
  margin: 0 0 1px;

  @media (min-width: $tablet-width) {
    width: 476px;
    height: 476px;
    position: absolute;
    top: 295px;
    left: calc(50% - 238px);
    z-index: 5;
  }

  @media (min-width: $desktop-width) {
    top: -146px;
    left: -630px;
    width: 600px;
    height: 600px;
  }
}

.slide__new {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $base-primary;
}

.slide__title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.02em;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  margin-top: 5px;

  @media (min-width: $tablet-width) {
    font-size: 56px;
    line-height: 80px;
    margin-bottom: 16px;
    letter-spacing: 0.02em;
    margin-top: 2px;
  }

  @media (min-width: $desktop-width) {
    margin-left: -65px;
  }
}

.slide__description {
  margin: 0 auto;
  padding: 0;
  margin-bottom: 20px;
  width: 280px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 32px;
    width: 606px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
  }
}

.slide__sale {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 228px;

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.slide__old-price {
  font-size: 16px;
  line-height: 32px;
  color: $base-primary;
  text-decoration: line-through;
  margin-right: 6px;
}

.slide__new-price {
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
  margin-right: 20px;

  @media (min-width: $tablet-width) {
    margin-right: 20px;
  }
}

.slide__button {
  min-width: 113px;
  max-width: 150px;
  min-height: 40px;
  font-style: normal;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: $base-white;
  padding: 8px 20px;
  background: $base-primary;
  border-radius: 4px;
  border: none;

  &:hover,
  &:focus-visible {
    background: $primary-lighter;
    outline: none;
  }

  &:active {
    background: $primary-darker;
  }

  &:disabled {
    background: $base-grey;
  }
}
