.user-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 186px;

  @media (min-width: $desktop-width) {
    max-width: 300px;
  }
}

.user-list__item {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;

  &:active {
    background-color: $base-secondary;
  }
}

.user-list__link {
  text-decoration: none;
  padding: 22px 14px 22px 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $base-black;
  cursor: pointer;

  &:hover,
  &:focus-visible {
    color: $base-primary;
    outline: none;
    fill: $base-primary;
  }

  @media (min-width: $tablet-width) {
    padding: 32px 19px;
  }

  @media (min-width: $desktop-width) {
    padding: 30px 21px;
    margin-left: 18px;
  }
}

.user-list__description {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.user-list__icon {
  margin-right: 8px;
}
